h1{
    text-align: center;
}
#id{
    display: flex;
    flex-direction: row;
    background: pink;
}

section.task-list div{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: auto;
    justify-content: space-around;
}
#remaining{
    text-align: center;
}
form{
    text-align: center;
}


#btns{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}